<header>
  <%= image_tag 'Facebook_Logo_Primary.png', class: 'logo' %>
</header>
<div class="container show">
  <div class="row">
    <div class="col-lg-12">
      <p class="txt">
        <%= link_to 'ストーリーズを作成', new_blog_path %>
        <span>写真、メッセージを共有しよう。</span>
      </p>
    </div>
    <% @blogs.each do |blog| %>
    <div class="col-lg-12 img_box">
      <p class="name">名前:
        <%= blog.user.name%>
      </p>
      <p class="img">
        <%= image_tag blog.title.url %>
      </p>
      <p class="content">
        <%= blog.content %>
      </p>
      <p class="link_txt">
        <span>
          <%= link_to '投稿の詳細', blog_path(blog.id) %>
        </span>
        <span>
          <%= link_to "投稿を編集", edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %>
        </span>
        <span>
          <%= link_to '投稿を削除', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
        </span>
      </p>
    </div>
    <% end %>
    <p class="out_txt">
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
    </p>
  </div>
</div>