<header>
  <%= image_tag 'Facebook_Logo_Primary.png', class: 'logo' %>
</header>
<div class="container show">
  <h1>新規投稿</h1>
  <div class="row">
    <div class="col-lg-12 img_box">
      <%= form_with(model: @blog, local: true) do |form| %>
      <% if @blog.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= @blog.errors.count %>件のエラーがあります。
        </h2>
        <ul>
          <% @blog.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="blog_title">
        <%= form.label :画像 %>
        <!-- 確認画面から新規作成画面に戻った時に、 -->
        <!-- アップロードした画像を表示させるための記述 -->
        <%= image_tag(@blog.title.url) if @blog.title && @blog.title.url %>
        <%= form.file_field :title %>
        <%= form.hidden_field :image_cache %>
      </div>
      <div class="blog_content">
        <%= form.label :テキスト %>
        <%= form.text_field :content %>
      </div>
      <%= form.submit %>
      <% end %>
    </div>
    <p class="out_txt">
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
    </p>
  </div>
</div>
<p class="back">
  <%= link_to 'Back', blogs_path %>
</p>