<header>
  <%= image_tag 'Facebook_Logo_Primary.png', class: 'logo' %>
</header>
<div class="container show">
  <h1>投稿詳細</h1>
  <div class="row">
    <div class="col-lg-12 img_box">
      <p class="name">名前:
        <%= @blog.user.name%>
      </p>
      <p class="img">
        <%= image_tag @blog.title.url %>
      </p>
      <p class="content">
        <%= @blog.content %>
      </p>
      
    </div>
    <p class="out_txt">
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
    </p>
  </div>
</div>

<p class="back"><%= link_to 'Back', blogs_path %></p>
